body {
    font: 1rem/2 sans-serif;
    width: 500px;
    background: var(--bg);
    color: var(--text);
}

.hidden {
    display: none;
}

#cache {
    color: var(--cache);
}

ul {
    font-size: 0.8rem;
    line-height: 1.2;
}

li {
    max-width: 500px;
    padding-bottom: 3px;
}

li .url {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

li .url:hover {
    white-space: normal;
    overflow: visble;
}

.url {
    color: var(--url);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: #fff;
        --text: #000;
        --cache: #242424;
        --url: #2f2f2f;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --text: #fff;
        --cache: #cecece;
        --url: #a5a5a5;
    }
}
