body {
    font: 1rem/2 sans-serif;
    width: 500px;
}

.hidden {
   display: none;
}

#cache {
    color: gray;
}

ul {
    font-size: 0.8rem;
}

li {
    max-width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    list-style-position: inside;
}

li:hover {
    white-space: normal;
    overflow: visble;
}
